@model Assembly
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h2>Details</h2>
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>ExecutionTime</th>
                <th>Status</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @{var i = 1;}
            @foreach (var test in Model.Tests)
            {
                <tr>
                    <td>@i</td>
                    <td>@test.Name</td>
                    <td>@test.ExecutionTime</td>
                    <td>@test.ExecutionStatus</td>
                    <td>@test.Message</td>
                </tr>                
                ++i;                      
            }
        </tbody>
    </table>
</body>
</html>